<div class="container">
<h1>Tours</h1>
<div class="row">
<div class="col-md-12 col-lg-12">
    {{#each tours}}
        <div class="col-sm-1 col-md-4 thumbnail img-responsive">
            <a href="{{tourUrl slug}}">
                {{#each images}}
                    {{#if @first}} {{!-- taking only one image to show thumbnail --}}
                        <img src="{{cloudinaryUrl style='max-width: 100%; and height: auto;'}}">
                    {{/if}}
                {{/each}}
                <div class="caption" style="text-align: center">
                    <p>{{title}}</p>
                </div>
            </a>
        </div>
    {{/each}}
</div>
</div>
</div>